@import "../../style/mixin.scss";
@import "../../style/variables.scss";

.header {
  width: 100vw;
  height: 8em;
  @include FlexRow;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em 1em 2em;
  position: fixed;
  background-color: $darkBlue;

  nav {
    @include FlexRow;
    align-items: center;
    gap: 1em;
  }

  .link {
    text-decoration: none;
    color: $white;
  }
}
