@import "../../style/mixin.scss";
@import "../../style/variables.scss";

.modal {
  background-color: rgba(0, 0, 0, 0.575);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    @include FlexColumnCenter;
    width: fit-content;
    min-height: 40vh;
    background-color: $white;
    gap: 0.5em;
    border-radius: 20px;
    box-shadow: -2px -8px 62px 5px $boxShadowColor;
  }
}
