@import "../style/mixin.scss";

.title {
  text-align: center;
}

.content {
  @include FlexColumn;
  padding-left: 5em;
  padding-right: 5em;

  img {
    max-height: 100px;
    margin-right: 1em;
  }
}

.loading {
  @include FlexColumnCenter;
}
