.statistics {
  .bold {
    font-weight: bolder;
  }

  .list-item {
    display: flex;
    flex-direction: row;
  }
  h1 {
    padding-top: 0.5em;
  }
  .review {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
  }

  .row {
    display: flex;
    flex-direction: row;

    img {
      max-height: 100px;
      margin-right: 1em;
    }
  }
}
