.row {
  display: flex;
  flex-direction: row;

  img {
    max-height: 100px;
    margin-right: 1em;
  }
}

.title {
  text-align: center;
}

.lightText {
  font-weight: 200;
}

.link {
  text-decoration: none;
  color: black;
}
