.list {
  display: flex;
  padding: 1em;
  background-color: #cacfd661;
  gap: 1em;
  align-items: center;
  margin: 1em;

  &.row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &.column {
    flex-direction: column;
  }

  &.space-evenly {
    justify-content: space-evenly;
  }

  &.space-between {
    justify-content: space-between;
  }
}
