@import "../../style/mixin.scss";
@import "../../style/variables.scss";

.list {
  @include FlexRow;
  padding: 1em;
  gap: 1em;
  margin: 1em;
  border-radius: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: -2px -8px 62px 5px $boxShadowColor;
}
