.list {
  display: flex;
  padding: 1em;
  gap: 1em;
  margin: 1em;
  outline: 1px solid #ffd400;
  border: 1px solid #ffd400;
  border-radius: 5px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
