.list {
  display: flex;
  padding: 1em;
  background-color: #cacfd661;
  gap: 1em;
  justify-content: center;
  align-items: center;

  &.row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &.column {
    flex-direction: column;
  }
}
