@import "../../style/mixin.scss";

.author {
  img {
    max-width: 200px;
    margin-top: 1em;
    padding: 0.5em;
  }

  h1 {
    padding-top: 1em;
    padding-bottom: 0.5em;
  }

  .row {
    @include FlexRow;
    gap: 1em;
  }

  .column {
    @include FlexColumn;
    padding: 1em;
  }
  .buttons {
    padding-left: 1em;
  }
}
