@import "../../style/mixin.scss";
.form {
  @include FlexColumn;
  align-items: center;
  padding: 2em;
  gap: 1em;

  .cancel {
    display: flex;
    justify-content: right;
    width: 100%;
  }

  form {
    @include FlexColumn;
    padding: 1em;
    gap: 1em;
  }
}
