@import "../../style/mixin.scss";

.btn {
  @include Button(#f97f04);
}

.btn:hover {
  background-color: #f7891a;
  box-shadow: -2px -8px 62px 5px rgba(254, 144, 0, 0.401);
}

.error {
  @include Button(#f90404);
}

.error:hover {
  background-color: #fa1d1d;
  box-shadow: -2px -8px 62px 5px rgba(254, 0, 0, 0.245);
}
