$buttonColorDark: #f97f04;
$buttonColorLight: #f7891a;
$buttonColorXtraLight: rgba(254, 144, 0, 0.401);
$error: #f90404;
$errorLight: #fa1d1d;
$errorXtraLight: rgba(254, 0, 0, 0.245);
$boxShadowColor: rgba(188, 188, 188, 0.61);
$backgroundColorDark: #c7c5c436;
$backgroundColorLight: rgba(204, 205, 205, 0.61);
$white: #fff;
$yellow: #ffd400;
$darkBlue: #2e294e;
