.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 1em;

  .circle {
    outline: 1px solid #ffd400;
    border: 1px solid #ffd400;
    padding: 1em;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: #2e294e;
      text-align: center;
    }
  }
}
