@import "../../style/mixin.scss";
@import "../../style/variables.scss";

.counter {
  @include FlexColumnCenter;
  gap: 1em;
  margin: 1em;

  .circle {
    outline: 1px solid $yellow;
    border: 1px solid $yellow;
    padding: 1em;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    @include FlexColumnCenter;
    box-shadow: -2px -8px 62px 5px $boxShadowColor;
    background-color: $white;

    h1 {
      color: $darkBlue;
      text-align: center;
    }
  }
}
