.workpage {
  display: flex;
  flex-direction: row;

  img {
    max-width: 300px;
    margin-top: 2em;
  }

  .bold {
    font-weight: bolder;
  }

  .item {
    padding: 1em;
  }

  h1 {
    padding-top: 1em;
  }

  .description,
  p {
    padding-top: 1em;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
  }
}
