@import "../style/mixin.scss";

.workpage {
  @include FlexRow;

  img {
    max-width: 300px;
    margin-top: 2em;
  }

  .bold {
    font-weight: bolder;
  }

  .item {
    padding: 1em;
  }

  h1 {
    padding-top: 1em;
  }

  .description,
  p {
    padding-top: 1em;
  }

  .row {
    @include FlexRow;
    gap: 1em;
  }
  .buttons {
    @include FlexColumn;
    gap: 1em;
    padding-top: 1em;
  }
}
