@import "../../style/variables.scss";

.selector {
  border-radius: 5px 0 0 5px;
  padding: 9px;
  border: none;
}
.search {
  padding: 10px;
  border-radius: 0;
  border: none;
}

.btn {
  background-color: $buttonColorDark;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  border: none;
  color: $white;
}

.btn:hover {
  background-color: $buttonColorLight;
}
